/* 사이드바 테두리 */
#sidebar {border-right: .5px solid rgba(34, 36, 38, 0.15);}

/* 검색 페이지 section 구역 */
#searchPage-search-tab{width: 12rem; height: 2rem;}
.inner section {margin-top: 3rem;}
.img-writer {width: 2.3rem; height: 2.3rem !important;}
.searched-result-area {max-height: 30rem; overflow-x: hidden; background: rgb(248, 248, 248) !important;}
.searched-result-area .card {width: 60%; margin: 0 auto; margin-bottom: 1rem;}
.searched-result-area .card i {margin-right: .5rem;}
div.card-ws-name, div.card-page-name {font-weight: bold; color: #595959;}
div.card-ws-name span, div.card-page-name span {color: darkgray; margin: .6rem .5rem 0 .5rem;}

/* 게정 설정 페이지 section 구역 */
#accountSettings-name {font-size: 1.3rem; margin-bottom: 1.5rem; font-weight: bold;}
#accountSettings-name i {margin-right: .5rem;}
#update-profile-area, #update-password-area, #remove-account-area {background: rgb(248, 248, 248); padding: 3rem 2rem;}
#update-profile-area label, #update-password-area label {font-size: 1rem;}
#update-profile-area {padding: 2rem 5rem; background: rgb(248, 248, 248);}
#update-profile-image-area img{width: 10rem; height: 10rem; object-fit: cover; margin-bottom: 1.5rem; border-radius: 5px;}
#update-profile-area #update-profile-id {background: rgb(218, 216, 216);}
#update-profile-area div.field {margin-bottom: 2rem;}
#update-password-area {padding: 2rem 5rem;}
#update-password-area div.field {margin-bottom: 2rem;}
#remove-account-area {font-weight: bold; padding: 2rem 5rem;}
#check-default-img {margin-top: .5rem; font-size: 1rem;}
span.valid {display:none; font-size: 12px; padding-left: 5px; font-weight: bold; color: red; margin-top: .3rem;}

/* input#email-now, input#tel-now {background: rgb(218, 216, 216);} */
button.btn-update-settings {background: #EDB8BA !important; color: white !important;}
button.btn-update-settings:hover {background: rgb(231, 146, 149) !important;}
button.btn-remove-account {background: rgb(235, 122, 102) !important; color: white !important;}
button.btn-remove-account:hover {background: rgb(230, 78, 51) !important;}