<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="search">
	<!-- 워크스페이스-->
	<resultMap type="workspace" id="workspaceMap">
		<id column="workspace_no" property="workspaceNo"/>
		<result column="workspace_name" property="workspaceName"/>
		<result column="workspace_cover_code" property="workspaceCoverCode"/>
	</resultMap>
	
	<!-- 페이지 -->
	<resultMap type="page" id="pageMap">
		<id column="page_no" property="pageNo"/>
		<result column="page_name" property="pageName"/>
		<result column="page_cover_code" property="pageCoverCode"/>
		<result column="workspace_no" property="workspaceNo"/>
		<result column="workspace_name" property="workspaceName"/>
		<result column="workspace_cover_code" property="workspaceCoverCode"/>
	</resultMap>
	
	<!-- 포스트 -->
	<resultMap type="post" id="postMap">
		<id column="post_no" property="postNo"/>
		<result column="post_sort_code" property="postSortCode"/>
		<result column="post_content" property="postContent"/>
		<result column="post_original_filename" property="postOriginalFilename"/>
		<result column="post_renamed_filename" property="postRenamedFilename"/>
		<result column="post_writer" property="postWriter"/>
		<result column="post_date" property="postDate"/>
		<result column="workspace_name" property="workspaceName"/>
		<result column="workspace_cover_code" property="workspaceCoverCode"/>
		<result column="page_no" property="pageNo"/>
		<result column="page_name" property="pageName"/>
		<result column="page_cover_code" property="pageCoverCode"/>
		<result column="profile_renamed_filename" property="profileRenamedFilename"/>
	</resultMap>
	
	<!-- 코멘트 -->
	<resultMap type="postComment" id="postCommentMap">
		<id column="post_comment_no" property="postCommentNo" />
		<result column="post_comment_date" property="postCommentDate" />
		<result column="post_comment_content" property="postCommentContent" />
		<result column="post_comment_writer" property="postCommentWriter" />
		<result column="post_comment_level" property="postCommentLevel" />
		<result column="post_comment_ref_writer" property="postCommentRefWriter" />
		<result column="profile_renamed_filename" property="profileRenamedFilename" />
		<result column="workspace_name" property="workspaceName"/>
		<result column="workspace_cover_code" property="workspaceCoverCode"/>
		<result column="page_name" property="pageName"/>
		<result column="page_cover_code" property="pageCoverCode"/>
		<result column="page_no" property="pageNo" />
		<result column="post_no" property="postNo" />
	</resultMap>
	
	<!-- 워크스페이스명 검색 -->
	<select id="selectWsListByKeyword" resultMap="workspaceMap">
		select W.workspace_no, W.workspace_name, W.workspace_cover_code
		from workspace W left join workspace_member WM on W.workspace_no = WM.workspace_no
		where WM.member_id = #{memberId} and workspace_name like '%'||#{keyword}||'%'
		order by W.workspace_no
	</select>
	
	<!-- 페이지명 검색 -->
	<select id="selectPageListByKeyword" resultMap="pageMap">
		select P.page_no, P.page_name, P.page_cover_code, W.workspace_no, W.workspace_name, W.workspace_cover_code
		from workspace W left join workspace_member WM on W.workspace_no = WM.workspace_no
		                 left join page P on W.workspace_no = P.workspace_no
		where WM.member_id = #{memberId} and page_name like '%'||#{keyword}||'%'
		order by W.workspace_no, P.page_no
	</select>
	
	<!-- 포스트 검색 -->
	<select id="selectPostListByKeyword" resultMap="postMap">
		select V.*, M.profile_renamed_filename
		from (select post_no, post_sort_code, post_content, post_original_filename, post_renamed_filename, post_writer, post_date, 
                    workspace_name, workspace_cover_code, P.page_no, page_name, page_cover_code
		      from workspace W left join workspace_member WM on W.workspace_no = WM.workspace_no
		                       left join page P on W.workspace_no = P.workspace_no
		                       left join post PO on P.page_no = PO.page_no
		      where WM.member_id = #{memberId} and post_no is not null) V
		      left join member M on V.post_writer = M.member_id
		where post_content like '%'||#{keyword}||'%' or post_original_filename like '%'||#{keyword}||'%'
		order by post_sort_code, post_no
	</select>
	
	<!-- 코멘트 검색 -->
	<select id="selectCommentListByKeyword" resultMap="postCommentMap">
		select post_comment_no, post_comment_date, post_comment_content, post_comment_writer, post_comment_level, post_comment_ref_writer, M.profile_renamed_filename,
		      workspace_name, workspace_cover_code, page_name, page_cover_code, P.page_no, PO.post_no
		from workspace W left join workspace_member WM on W.workspace_no = WM.workspace_no
		                 left join page P on W.workspace_no = P.workspace_no
		                 left join post PO on P.page_no = PO.page_no
		                 left join post_comment PC on PO.post_no = PC.post_no
		                 left join member M on post_comment_writer = M.member_id
		where WM.member_id = #{memberId} and post_comment_no is not null and post_comment_content like '%'||#{keyword}||'%'
		order by page_no, post_no, post_comment_no
	</select>

</mapper>